

body{
  // background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.5), rgba(255, 255, 2555, 1));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar{
  box-shadow: 2px 5px 10px rgba(0,0,0,0.2), 5px 10px 15px rgba(0,0,0,0.1);
}

.sensorTable{
  tr{
    td:nth-child(1){
      font-weight: 800;
      font-size: 1.2rem;
      color: #1976d2;
    }
  }
}

iframe{
  width: 100%;
  height: 500px;
}

.inference{
  font-style: italic;
  color: #1976d2;
}
