<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IET Hackathon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <script src="/static/lib/jquery.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
</head>

<body>
  {% include 'navbar.html' %}

  <!-- Main Body -->
  <div class="container mt-4">
    <div class="row">
      <!-- Camera iframe -->
      <div class="col-8 microImg">
        <img src="/static/uploads/detection.jpg" alt="detection">
      </div>
      <!-- Soil Granule Size -->
      <div class="col-4">
        <h3 class="heading">Soil partical details</h3>
        <table class="table table-hover table-stripped">
          <thead class="bg-dark text-white">
            <tr>
              <td>Granule size range</td>
              <td>Size Range</td>
            </tr>
          </thead>
          <tr>
            <td>10mm - 20mm</td>
            <td>20%</td>
          </tr>
          <tr>
            <td>20mm - 40mm</td>
            <td>40%</td>
          </tr>
          <tr>
            <td>40mm - 60mm</td>
            <td>30%</td>
          </tr>
          <tr>
            <td>>60mm</td>
            <td>10%</td>
          </tr>
        </table>
      </div>

      <!-- Inference -->
      <div class="col-12 text-center">
        <p class="inference"><b>Inference: </b>Since 40% of particles have size less than 4mm, the soil type is clay</p>
      </div>
    </div>
  </div>

  </div>
</body>

</html>